@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #441752;
    --secondary-color: #8174A0;
    --background-color: #f4f4f4;
    --font-family2: 'Roboto', sans-serif;
    --font-family1: 'Atkinson Hyperlegible Mono', sans-serif;
}


body {
    background-color: var(--background-color);
    color: #333;
}

/* HEADER */
header {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family1);
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 50px;
    border-radius: 30px;
}
nav{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
}
nav ul {
    list-style: none;
    display: flex;
    align-items: end;
    
}

nav ul li {
    margin-right: 20px;
    

}

nav ul li a {
    color: var(--background-color);
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
nav ul li a:hover, nav ul li a:active{
    background-color: rgba(168, 72, 172, 0.274);
}
#myButton {
    display: none;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(50px);
    }
  }
  
#nameDev {
    animation: fadeInLeft 3s ease-in-out infinite;
  }
/* HERO SECTION */
.hero {
    position: relative; 
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden; 
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
    filter: brightness(70%);
}

.hero h1,
.hero p,
.hero button {
    z-index: 1; 
}

.hero button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(255, 107, 107, 0.4);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: pulse 1.5s infinite alternate;
}
.hero button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(255, 107, 107, 0.6);
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}


.hero h1 {
    
    font-family: var(--font-family1);
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}
.hero p{
    font-family: var(--font-family2);
    font-size: 1.5rem;
    max-width: 600px;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}


 
/* SECTIONS */
h1{
    font-family: var(--font-family1);
    color: var(--primary-color);
    font-size: 5rem;
}
#results {
    background-color: #F4F1DE;
    padding: 0 1rem;
    border: 1px solid #E07A5F;
    border-radius: 6px;
  }


main {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 160px;
}

/* FOOTER */
footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}

footer img {
    width: 40px;
    margin-left: 5px;
    vertical-align: middle;
}
h1 h2 h3 {
    font-family: var(--font-family1);
}
footer .info{
    margin: 15px;
}
footer p{
    margin: 0;
}

@media (max-width: 640px){
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .hero{
        height: 50vh;
    }
    #myButton {
        display: block;
        font-size: 2rem;
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
        width: 100%;
        text-align: right;
        padding: .25rem 2vw;
    
       }

       #myButton::before{
        content: "\2630";
       }
    
        
       ul.nav-links li a{
        
        
        color: #fff;
        text-decoration: none;
       }
       
       ul.nav-links {
        display: block;
        margin: 0;
        list-style-type: none;
        padding: 0;
       }
    
       
       #myButton.show::before{
        content: "X";
       }
       nav{
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.5s ease-out;
        padding-top : 15px;
        justify-content: normal;
       }
       nav ul li {
        padding-bottom: 12px;
        margin: 10px 0;
       }
       nav ul {overflow: hidden;}
      
       nav.show {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
       }
      
     .hero button {
        animation: none;
     }
     .hero h1 {
    
        padding: 0 20px;
       margin: 0;
        font-size: 2.5rem;
       
    }
    .hero p{
        padding: 0 20px;
        font-size: 1.3rem;
        
    }
    
   
}

@media (min-width: 640px) and (max-width: 1024px){
    .hero{
        height: 70vh;
    }
}