/* Variables de color para temas 
:root {
    --background-light: #fff;
    --background-dark: #333;
    --text-light: #333;
    --text-dark: #fff;
}


body {
    background-color: var(--background-light);
    color: var(--text-light);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}


body.dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
}*/


#theme-toggle {
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#theme-toggle:hover {
    background-color: #ddd;
}
